#shoe-img { width: 100%; }

.product-details {
    margin: 32px 0 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.connect-button {
    width: 100%;
}

.loading-message {
    text-align: center;
}